.container {
    display: flex;
    flex-direction: column; /* 자식 태그 수직 정렬 */
    align-items: center;
    font-size: 1.3rem;
}

h1 {
    margin-bottom: 50px;
    display: inline;
}


/* 버튼 css  */
.button {
    width: 100px;
    height: 50px;
    border: 2.5px solid gray;
    border-radius: 5px;
    background: rgb(192, 192, 192); /* 연한 회색 */
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.button:before {
    height: 0%;
    width: 2px;
}

.button:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#home_btn {
    position: relative;
    right:-20%
}

#submit_btn {

}


/* 테이블 설정 */

td {
    margin: 100px;
}

label {
    width: 150px;
    height: 1.5em;
}

input {
    width: 150px;
    height: 1.5em;
    border-radius: 5px;
}

textarea {
    width: 600px;
    height: 500px;
    font-size: 1.1rem;
    border-radius: 5px;
}


