.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 1. 제목 부분 */
.header {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.title {
    position: relative;
    left: -150px;
    font-size: 70px;
}

/* 작성자 */
.else {
    display: flex;
    flex-direction: row;
    position: relative;
    right: -100px;
    bottom: -70px;
    font-size: 25px;
    color: gray;
}

.wrap-author {
    margin-right: 30px;
}

.wrap-date {

}

/* 2. 내용 부분 */
.body {
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 600px;
    border-top: 3px solid black;
}

#l-content {
    font-size: 40px;
    padding-right: 30px;
    border-right: 3px solid black;
    padding-top: 250px;
}

.contents {
    font-size: 25px;
    margin: 20px;
}

.button {
    position: relative;
    right: -100px;
    top: -20px;
    width: 80px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 5px;
    background: rgb(192, 192, 192); /* 연한 회색 */
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}